<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="container_title">
    <h2>Seleziona categoria</h2>
  </div>
  <div class="container_select" *ngIf="categories$ | async as categories">
    <select class="form-select" style="width: 300px;" [(ngModel)]="selectedCategory">
      <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>    
    </select>
    <button (click)="navigateToSerieA()">VAI</button>
  </div>
</div>
